<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name ="DefaultCon" connectionString="Data Source=sbd\mssql; Initial Catalog=BookShadrin; Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>


</configuration>